mat-toolbar {
    height: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: black;
    border-style: solid;
    background: #ffff;
}

img {
    height: 100%;
}

button {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
}

mat-nav-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 2rem;
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffff;
    mat-sidenav {
        width: 184px;
    }
}

.sidenav-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    mat-nav-list {
        margin-top: 7rem;
        margin-right: 2rem;
    }
    button {
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
}

a {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Inter';
    text-decoration: none;
    color: #000000;
}

.active {
    color: #6C5CCF;
}

.active-button {
    border: 2px solid #6C5CCF !important;
    ::ng-deep mat-icon svg path{
        stroke: #6C5CCF !important;
        stroke-width: 2px !important;
    }
}