@use '../../../styles/danger.scss';

.sm-card {
    width: 265px;
    height: 181px;
}

mat-card {
    background-color: #F5F5F5;
    height: 161px;
    width: 392px;
}

mat-card-footer {
    padding-bottom: 10px;
    button {
        width: 167px;
    }
}

mat-card-content {
    text-overflow: ellipsis;
    overflow: hidden;
}