.small-p {
    width: 253px;
    background-color: transparent;
}

p {
    background-color: #EEEEEE;
    border-radius: 16px;
    padding: 10px;
    text-wrap: wrap;
    overflow-wrap: break-word;
    hyphens: manual;
    white-space: break-spaces;
}