textarea {
    resize: none;
    border-radius: 8px;
    border-color: #7763C5;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    width: 281px;
    height: 212px;
    font-family: "Inter";
    padding: 5px;
}