.posts-container {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

div div button {
    width: 153px;
}

.header-posts{
    padding: 15px;
}

.thin-arrow-up{
    transform: rotate(180deg);
}