.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.return-arrow {
    position: absolute;
    left: 15px;
    top: 90px;
    button {
        justify-content: center;
        align-content: center;
    }
    mat-icon {
        transform: scale(2);
    }
}

.text-area-container {
    height: 212px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
}

form {
    gap: 25px;
    padding-top: 18px;
}