<button (click)="goToDetail()">
    <mat-card appearance="outlined" fxLayout="column" [ngClass.lt-sm]="'sm-card'" fxLayoutGap="10" fxLayoutGap.lt-sm="5">
        <mat-card-header fxLayout="column" fxLayoutGap="10" fxLayoutGap.lt-sm="3">
            <mat-card-title>{{ post.title | titlecase }}</mat-card-title>
            <div fxLayout="row" fxLayoutGap="30" fxLayoutGap.lt-sm="15">
                <span>{{ post.created_at | date:'dd/MM/YYYY HH:mm' }}</span>
                <span>{{ post.author.username }}</span>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p class="content" [ngClass.lt-sm]="'sm-content'">
                Content: {{ post.content }}
            </p>
        </mat-card-content>
    </mat-card>
</button>