.form-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    font-size: 16px;
    font-weight: 400;

    input {
        border-radius: 8px;
        border-color: #7763C5;
        border-style: solid;
        border-width: 2px;
        width: 281px;
        height: 48px;
        font-size: 20px;
        font-weight: 400;
    }
}