.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.action-container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 5rem;
}


button {
  width: 10rem;
}
