@use '../../../styles/danger.scss';
@use '../../../styles/styles.scss';

.return-arrow {
    align-self: flex-start;
    button {
        justify-content: center;
        align-content: center;
        margin-bottom: 30%;
    }
}

.container {
    display: flex;
    padding-top: 30px;
    height: 100vh;
    width: 100vw;
}

.main {
    padding-left: 20px;
    padding-right: 20px;
}

.comment-section {
    padding: 15px;
    padding-left: 30px;
}

.relative-send-button {
    position: absolute;
    right: 16px;
}

.small-form {
    height: 120px;
}

.header-post {
    div {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 50px;
    }
}

.body-detail {
    margin-left: 70px;
}

.comments-container {
    margin-right: 84px;
}

form {
    background-color: white;
    position: sticky;
    bottom: 0px;
    padding-bottom: 20px;
    width: 100%;
    div {
        height: 120px;
    }
    button{
        width: 64px;
        height: 64px;
    }
}

mat-icon {
    transform: scale(2);
}

